#
# Please avoid changing the Samsung defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug and eng builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/kernel/exynos/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# kernel/exynos/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_SCSC_LOG_COLLECTION=y
CONFIG_SCSC_MXLOGGER=y
CONFIG_SCSC_WLBTD=y
