#
# Please avoid changing the Samsung defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_HZ_300=y
CONFIG_SWAP=y
CONFIG_ZSMALLOC=y
CONFIG_ZRAM=y
CONFIG_CPUSETS=y
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_GCM=y
CONFIG_IPV6_VTI=y
CONFIG_NET_IPVTI=y
CONFIG_ECRYPT_FS=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_ENCRYPTION=y
CONFIG_SUSPEND_SKIP_SYNC=y
CONFIG_CMA_SIZE_MBYTES=22
CONFIG_MEMCG=y
CONFIG_MEMCG_SWAP=y
CONFIG_BALANCE_ANON_FILE_RECLAIM=y
# CONFIG_DEBUG_SNAPSHOT_CRASH_KEY is not set
# CONFIG_ANDROID_LOW_MEMORY_KILLER is not set
# CONFIG_KSM is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_DEBUG_KMEMLEAK is not set
# CONFIG_PAGE_OWNER is not set
# CONFIG_DEBUG_PAGEALLOC is not set
# CONFIG_DEBUG_OBJECTS is not set
# CONFIG_FAULT_INJECTION is not set
# CONFIG_PRINTK_PROCESS is not set
# CONFIG_DEBUG_PREEMPT is not set
# CONFIG_DEBUG_LOCK_ALLOC is not set
CONFIG_USB_GADGET_VBUS_DRAW=500
# CONFIG_RC_CORE is not set
# CONFIG_EXT2_FS is not set
# CONFIG_EXT3_FS is not set
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_EXFAT_FS=y
CONFIG_USB_CONFIGFS_MASS_STORAGE=y
CONFIG_USB_RTL8152=y
