#
# Please avoid changing the Samsung defconfig files and use this file to
# add any Motorola-specific configuration changes that are applicable to
# userdebug, eng, and user builds.
#
# After building, a list of all of the config files that are used can be found
# at the top of:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/mapphone_defconfig
#
# The actual output of the kernel configuration system can be found at:
# out/target/product/$(PRODUCT)/obj/KERNEL_OBJ/.config
#
# You can check the .config file to verify that your configuration option is
# being set as expected.
#

CONFIG_USB_ANDROID_USBNET=y
CONFIG_BOOTINFO=y
CONFIG_PSTORE_RAM_ANNOTATION_APPEND=y
CONFIG_MMI_SOC_INFO=y
CONFIG_MMI_RAM_INFO=y
CONFIG_MMI_STORAGE_INFO=y
CONFIG_MMI_UNIT_INFO=y
CONFIG_SOFTLOCKUP_WATCHDOG_TEST=y
CONFIG_MOT_UTAG=y
CONFIG_HWMON=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_SND_SOC_AOV_TRIGGER=y
CONFIG_DROPBOX=y
CONFIG_CRYPTO_SHA512=y
CONFIG_NETFILTER_XT_MATCH_BPF=y
# CONFIG_USBPD_S2MM005 is not set
# CONFIG_CAMERA_CIS_2X5SP_OBJ is not set
# CONFIG_CAMERA_CIS_GM1SP_OBJ is not set
# CONFIG_CAMERA_ACT_DW9839_OBJ is not set
# CONFIG_CAMERA_EEPROM_GM1_OBJ is not set
# CONFIG_CAMERA_EEPROM_5E9_OBJ is not set
# CONFIG_CAMERA_OIS_SELECT is not set
# CONFIG_CAMERA_OIS_BU24218GWL_OBJ is not set
# CONFIG_OIS_DIRECT_FW_CONTROL is not set
CONFIG_CAMERA_CIS_12A10_OBJ=y
CONFIG_CAMERA_CIS_12A10FF_OBJ=y
CONFIG_CAMERA_CIS_16885C_OBJ=y
CONFIG_CAMERA_ACT_LC898217_OBJ=y
CONFIG_CAMERA_EEPROM_12A10_OBJ=y
CONFIG_CAMERA_EEPROM_12A10FF_OBJ=y
CONFIG_CAMERA_EEPROM_16885C_OBJ=y
CONFIG_SCSC_WLBT_CONFIG_PLATFORM="leman_s620_troika_dualfem"
