menuconfig SEC_MODEM_IF
	bool "Samsung Mobile Modem Interface"
	default n
	---help---
	  Samsung Modem Interface Driver

if SEC_MODEM_IF

config MODEM_CHIP_MODAP_S3XXAP
	bool "Exynos ModAP S3XXAP"
	select MODEMCTRL_MODAP_S3XXAP
	select LINK_DEVICE_SHMEM
	select MCU_IPC
	select SHM_IPC
	select CP_PMUCAL
	select CP_SECURE_BOOT
	select LINK_DEVICE_NAPI
	select MODEM_IF_NET_GRO
	select CACHED_RAW_RX_BUFFER
	default n

menu "Configurations"
config MODEMCTRL_MODAP_S3XXAP
	bool "Control device: Exynos ModAP S3xxAP"
	default n

config LINK_DEVICE_SHMEM
	bool "Link device: shared memory"
	default n

config LINK_DEVICE_NAPI
	bool "Use Rx polling (NAPI)"
	depends on SEC_MODEM_IF
	default n
	help
	NAPI is a new driver API designed to reduce CPU and interrupt load
	when the driver is receiving lots of packets.

config CP_SECURE_BOOT
	bool "Support CP Secure Boot"
	default n

config DEBUG_MODEM_IF
	bool "Enable debug option"
	default n

config SIM_DETECT
	bool "Detect SIM by GPIO"
	default n

config MODEM_IF_ADAPTIVE_QOS
	bool "Enable Adaptive QOS for high data performance"
	default n

config MODEM_IF_NET_GRO
	bool "enable GRO feature"
	depends on LINK_DEVICE_NAPI
	default n
	---help---
	 This enables GRO(Generic Receive Offload) feature

config CACHED_RAW_RX_BUFFER
	bool "Set cached RX RAW BUFFER for high data performance"
	default n

config UART_SWITCH
	bool "UART SWITCH Support"
	default n

config HW_REV_DETECT
        bool "Support HW REV Detect"
        default n

endmenu
endif
