
/ {
	fragment@utag {
		target-path = "/";
		__overlay__ {
			utags {
				compatible = "mmi,utags";
				mmi,main-utags = "/dev/block/platform/13520000.ufs/by-name/utags";
				mmi,backup-utags = "/dev/block/platform/13520000.ufs/by-name/utagsBackup";
			};

			hw {
				compatible = "mmi,utags";
				mmi,dir-name = "hw";
				mmi,main-utags = "/dev/block/platform/13520000.ufs/by-name/hw";
			};
                };
        };

	fragment@model {
		target-path = "/";
		__overlay__ {
			model = "kane";
			mot,soc-id = <0xE9610000>;
			mot,board-id = <0x41 0xA100>;

			utags {
				compatible = "mmi,utags";
				mmi,main-utags = "/dev/block/by-name/utags";
				mmi,backup-utags = "/dev/block/by-name/utagsBackup";
			};

			hw {
				compatible = "mmi,utags";
				mmi,dir-name = "hw";
				mmi,main-utags = "/dev/block/by-name/hw";
			};

		};
	};
};
