/*
 * SAMSUNG EXYNOS9610 board device tree source
 *
 * Copyright (c) 2017 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "exynos9610.dtsi"
#include "exynos9610_battery_data.dtsi"

/ {
	model = "Samsung MAESTRO-ERD9610 board based on EXYNOS9610";
	compatible = "samsung,exynos9610", "samsung,ERD9610";

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x80000000>;
	};

	memory@880000000 {
		device_type = "memory";
		reg = <0x00000008 0x80000000 0x80000000>;
	};

	ect {
		parameter_address = <0x90000000>;
		parameter_size = <0x19000>;
	};

	chosen {
		bootargs = "earlycon=exynos4210,0x13820000 console=ttySAC0,115200n8 root=/dev/ram0 rw ramdisk=8192 initrd=0x84000000,8M init=/linuxrc clk_ignore_unused ess_setup=0x86000000";
		linux,initrd-start = <0x84000000>;
		linux,initrd-end = <0x841FFFFF>;
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos9610-oscclk";
			clock-frequency = <26000000>;
		};
	};

	firmware {
		android {
			compatible = "android,firmware";
			fstab {
				compatible = "android,fstab";
				system {
					compatible = "android,system";
					dev = "/dev/block/platform/13520000.ufs/by-name/system";
					type = "ext4";
					mnt_flags = "ro";
					fsmgr_flags = "wait";
				};
				vendor {
					compatible = "android,vendor";
					dev = "/dev/block/platform/13520000.ufs/by-name/vendor";
					type = "ext4";
					mnt_flags = "ro";
					fsmgr_flags = "wait";
				};
			};
		};
	};

	serial_0: uart@13820000 {
		status = "okay";
	};

	/* USI_0_SHUB */
	usi_0_shub: usi@11013000 {
		usi_v2_mode = "spi";
		status = "okay";
	};

	/* USI_SHUB_0_I2C */
	usi_0_shub_i2c: usi@11013004 {
		/*	usi_v2_mode = "i2c" or "spi" or "uart"	*/
		status = "disabled";
	};

	/* USI_0_CMGP */
	usi_0_cmgp: usi@11C12000 {
		/*	usi_v2_mode = "i2c" or "spi" or "uart"	*/
		status = "disabled";
	};

	/* USI_0_CMGP_I2C */
	usi_0_cmgp_i2c: usi@11C12004 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_1_CMGP */
	usi_1_cmgp: usi@11C12010 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_1_CMGP_I2C */
	usi_1_cmgp_i2c: usi@11C12014 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_2_CMGP */
	usi_2_cmgp: usi@11C12020 {
		/*	usi_v2_mode = "i2c" or "spi" or "uart"	*/
		status = "disabled";
	};

	/* USI_2_CMGP_I2C */
	usi_2_cmgp_i2c: usi@11C12024 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_3_CMGP */
	usi_3_cmgp: usi@11C12030 {
		usi_v2_mode = "spi";
		status = "okay";
	};

	/* USI_3_CMGP_I2C */
	usi_3_cmgp_i2c: usi@11C12034 {
		/*	usi_v2_mode = "i2c" or "spi" or "uart"	*/
		status = "disabled";
	};

	/* USI_4_CMGP */
	usi_4_cmgp: usi@11C12040 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_4_CMGP_I2C */
	usi_4_cmgp_i2c: usi@11C12044 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_PERI_UART */
	usi_peri_uart: usi@10011010 {
		usi_v2_mode = "uart";
		status = "okay";
	};

	/* USI_PERI_CAMI2C_0 */
	usi_peri_cami2c_0: usi@10011020 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_PERI_CAMI2C_1 */
	usi_peri_cami2c_1: usi@10011024 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_PERI_CAMI2C_2 */
	usi_peri_cami2c_2: usi@10011028 {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_PERI_CAMI2C_3 */
	usi_peri_cami2c_3: usi@1001102C {
		usi_v2_mode = "i2c";
		status = "okay";
	};

	/* USI_PERI_SPI_0 */
	usi_peri_spi_0: usi@10011030 {
		/*	usi_v2_mode = "i2c" or "spi" or "uart"	*/
		status = "disabled";
	};

	/* USI_PERI_SPI_1 */
	usi_peri_spi_1: usi@10011034 {
		usi_v2_mode = "spi";
		status = "okay";
	};

	/* USI_PERI_USI_0 */
	usi_peri_usi_0: usi@1001103C {
		/*	usi_v2_mode = "i2c" or "spi" or "uart"	*/
		status = "disabled";
	};

	/* USI_PERI_USI_0_I2C */
	usi_peri_usi_0_i2c: usi@10011040 {
		/*	usi_v2_mode = "i2c" or "spi" or "uart"	*/
		status = "disabled";
	};

	/* USI_PERI_SPI_2 */
	usi_peri_spi_2: usi@10011038 {
		usi_v2_mode = "spi";
		status = "okay";
	};
};

&pinctrl_0 {
	if_pmic_irq: if-pmic-irq {
		samsung,pins = "gpa2-1";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	fuel_irq: fuel-irq {
		samsung,pins = "gpa2-3";
		samsung,pin-function = <0>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};
};

&i2c_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	s2mu004-fuelgauge@3B {
		compatible = "samsung,s2mu004-fuelgauge";
		reg = <0x3B>;
		pinctrl-names = "default";
		pinctrl-0 = <&fuel_irq>;
		fuelgauge,fuel_int = <&gpa2 3 0>;
		fuelgauge,fuel_alert_soc = <1>;
		fuelgauge,capacity_max = <1000>;
		fuelgauge,capacity_max_margin = <70>;
		fuelgauge,capacity_min = <0>;
		fuelgauge,capacity_calculation_type = <28>;
		fuelgauge,type_str = "SDI";
		fuelgauge,model_type = <1>;
	};
};

&i2c_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	s2mu004@3d {
		compatible = "samsung,s2mu004mfd";
		reg = <0x3d>;
		pinctrl-names = "default";
		pinctrl-0 = <&if_pmic_irq>;
		s2mu004,irq-gpio = <&gpa2 1 0>;
		s2mu004,wakeup;
	};

	s2mu004-charger {
		status = "okay";
		battery,charger_name = "s2mu004-charger";
		battery,chg_gpio_en = <0>;
		battery,chg_polarity_en = <0>;
		battery,chg_gpio_status = <0>;
		battery,chg_polarity_status = <0>;
		battery,chg_float_voltage = <4350>;
		battery,chg_recharge_vcell = <4250>;
		battery,chg_full_vcell = <4300>;
		battery,full_check_type = <2>;
		battery,full_check_type_2nd = <2>;
		battery,input_current_limit = <
			500 450 500 1200 500 1200 1200 1000 1000 1000
			1000 500 500 1200 1000 500 450>;
		battery,fast_charging_current =	<
			500 450 500 1200 500 1200 1200 1000 1000 1000
			1000 500 500 1200 1000 500 450>;
		battery,full_check_current_1st = <
			300 0 300 300 300 300 300 300 300 300
			300 300 300 300 300 300 0>;
		battery,full_check_current_2nd = <
			100 0 100 100 100 100 100 100 100 100
			100 100 100 100 100 100 0>;
	};
};
