/*
 * Copyright (C) 2010 - 2017 Novatek, Inc.
 *
 * $Revision: 22971 $
 * $Date: 2018-02-08 16:05:40 +0800 (週四, 08 二月 2018) $
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */


&hsi2c_7 {
	status = "okay";
	samsung,reset-before-trans;
	clock-frequency = <400000>;
	sx933x@28 {
		compatible = "Semtech,sx933x";
		reg = <0x28>;
		Semtech,nirq-gpio = <&gpa2 6 0>; /* IRQ */
		pinctrl-names = "default";
		pinctrl-0 = <&cap_int_status>;
		Semtech,button-flag = <0x0b>;
		Semtech,reg-num = <1>;
		Semtech,reg-init = < 0x4004 0x64 >;
		};


};
